<div class="card-columns center-block animated fadeIn">
        <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
        <div class="card-body">
          <h5 class="card-title">{{heroe.nombre}} ({{heroe.aparicion | date:"y"}})</h5>
          <p class="card-text">{{heroe.bio}}</p>
          <p class="card-text"><small class="text-muted">{{heroe.aparicion | date:"y"}}</small></p>
          <a  [routerLink] = "['/heroes']" class="btn btn-outline-primary btn-block">Detalles</a>          
        </div>        
</div>