<div class="card-columns">

<div class="card animated fadeIn" *ngFor="let heroe of heroes" >
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{heroe.nombre}} ({{heroe.aparicion | date:"y"}})</h5>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion | date:"y"}}</small></p>
      <button type="button" (click)="onDetalles(heroe.nombre)"
      class="btn btn-outline-primary btn-block">Detalles</button>
    </div>    
</div>
</div>