.card-columns{
    padding: 100px;
}
.card
{
    border: 10px double rgb(101, 101, 163);
    margin: 20px;   
    width: 100%;
    box-shadow: 10px 5px #888888;
    background: linear-gradient(rgb(195, 195, 248),white);
    
}
