
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="./assets/img/A-64.png" alt="" srcset="">
    <a class="navbar-brand" href="#"> </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['about']">About</a>
        </li>
        
      </ul>
    
      <input class = "mr-2" (keyup) = "handlBuscar(miB.value);" #miB>         
      <button class="btn btn-outline-success my-2 my-sm-0" type='button'
         (click)="handlBuscar(miB.value);">Buscar</button>        

    </div>
  </nav>