<div class = "animated fadeIn">
<div class=" jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Héroes</h1>
      <p class="lead">Sitio dedicado al universo de los Héroes</p>
    </div>
  </div>
</div>